<template name="home">
    <div class="template-home">

        <div class="row">
            {{#if currentUser}}
                {{#each unansweredQuestions}}
                    <div class ="col s6 m6">{{>questionCard}}</div>
                {{else}}
                    Answered all questions
                {{/each}}
            {{else}}
                {{#each questions}}
                    <div class ="col s6 m6">{{>questionCard}}</div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</template>