<template name="header">
 <!--  <div class = "navbar-fixed">
    <nav>
      <div class = "nav-wrapper">
        <a href="#" class="brand-logo left">Logo</a>
        <div class="right">
        {{>login}}
      </div>
      </div>
    </nav>
  </div> -->
   <nav>
    <div class="nav-wrapper red">
      <div class = "container">
      <a href="#" class="brand-logo left">MCSS SEMI</a>
      <ul id="nav-mobile" class="right">
        <li>{{>login}}</li>
      </ul>
    </div>
    </div>
  </nav>
</template>